body{
 background-image: url("background.jpg");
}

.tab{
    width: 100%;
    opacity: 0.7;
}

.tab .buttons {
    height: 35px;
    box-sizing: border-box;
}

.tab .buttons button {
    width: 15%;
    height: 100%;
    float:left;
    border-style: ridge ;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 10px; 
    font-family: sans-serif;
    font-size: 15px;
    background-color: #a59e99; 
}

.tab .buttons button:hover {
    background-color: #afaeaa;
}

.tab .panel{
    height: 100%;
    background-color: #d5d8d1;
    color: black;
    text-align: center;
    padding-top: 105px;
    padding-bottom: 105px;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 22px;
    display: none;    
}

input[type = button] {
 width: 100px;
 font-size: 17px;
}


input[type = submit] {
    width: 100px;
    font-size: 17px;
   }

input[type = text]{
    font-size: 17px;
    margin:  20px;
    box-sizing: border-box;
}


.selectFormularName select {
    width: 170px;
    font-size:17px;
}

.saveButton {
    display: none;
    float: right;
    margin-right: 27%;
    margin-top: 20px;
    font-size: 17px;
}

.addButton {
    width: 30px; 
    height: 30px; 
    font-size: 20px ;
    text-align: center;
    border-radius: 50%;  
    background-color: #a39e9f;
    margin-left: 20px;
    border: none;
}

.elContainer {
    display: block;
    padding-left: 100px;
    text-align: left;
    width: 80%; 
}

input[class = rbLabel] {
    margin-left: 387px;
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 13px;
}

.selectNumber{
    display: none;
    margin-left: 20px;
}

.select2{
    margin-left: 20px;
    margin-bottom: 30px;
}

.radioButtonLabels {
    display: none;
}

.selectName {
    width: 250px;
}

input[class = version]{
    width:50px;
}

.buttonInput {
    margin-right: 15px;
    margin-left: 85px;
}